body {
  margin: 0 !important;
  padding: 0 !important;
  padding: 50px;
  font: 14px "Microsoft YaHei","Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
}

html {
  background-image: radial-gradient(130% 130% ellipse at top left, deepskyblue 0%, skyblue 100%);
}

a {
  color: #00B7FF;
}

.position-controller {
  height: 300px;
  width: 100%;
  text-align: center;
  padding-top: 200px;
}

.file-form-wrapper {
  background: #eeeeee;
  border-radius: 5px;
  box-shadow: 0 0 8px #333333;
  height: 100%;
  margin: 0 auto;
  width: 400px;
}

a.uploader-wrapper {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: skyblue;
  position: relative;
  display: block;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

input[type="file"] {
  opacity: 0;
  height: 100%;
  width: 100%;
}

input[type="file"]:hover {
  cursor: pointer;
}

.notice, .file-show{
  position: absolute;
  color: gray;
  height: 100%;
  width: 100%;
}

.file-show:before {
  display: block;
  content: " ";
  height: 120px;
  background-size: 75px 75px;
  background-repeat: no-repeat;
  background-position-y: 37.5px;
  background-position-x: 162.5px;
  background-image: url("../img/zip.png");
  margin-bottom: 20px;
}

.message-wrapper > button, button[type="button"] {
  background-color: skyblue;
  color: #444444;
  font-size: 1.5em;
  font-weight: bold;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 2px #aaaaaa;
}

button[type="button"]:hover, .message-wrapper > button:hover {
  cursor: pointer;
}

.dark-layout {
  z-index: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: black;
}

.message-wrapper {
  border-radius: 5px;
  box-shadow: 0 0 5px #444444;
  height: 150px;
  width: 500px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.message-wrapper > button {
  font-size: 1em;
}

.faLog {
  z-index: 3;
}